<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title%}
    <title>Smart Locator - {{title}}</title>
    {%else%}
    <title>Smart Locator</title>
    {%endif%}

<link rel="stylesheet" href = "{{url_for('static',filename='bootstrap.min.css')}}">
<link rel ="stylesheet" href = "{{url_for('static',filename='main.css')}}">
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Smart Locator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{url_for('home')}}">Find a {{type}}</a>
            {% if current_user.username != "admin"%}
          <a class="nav-item nav-link" href="/myobjects">My {{type}}s</a>
          {%else%}
          <a class = "nav-item nav-link" href = "/lisbooks">List of Books</a>
          <a class="nav-item nav-link" href = "/addbook">Add a new Book</a>
          <a class="nav-item nav-link" href = "/lisuser">List of users</a>
          <a class="nav-item nav-link" href = "/register">Register a new user</a>

          {%endif%}
          <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<script src="{{url_for('static',filename='bootstrap.bundle.min.js')}}"></script>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      {% block body %}{% endblock %}
    </div>

  </div>
</main>
</body>
</html>
